# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Microservice.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tekno_note5\Github\microservice-example\.idea\.idea.Microservice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
